@using System.Configuration
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h4>@ConfigurationManager.AppSettings["HomePageMessage"]</h4>
</div>

@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="alert alert-dismissable alert-info">
            <button class="close" type="button" data-dismiss="alert">×</button>
            <strong>@ConfigurationManager.AppSettings["HeadsUpMessage"]</strong>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-4">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Feature</th>
                        <th>&nbsp;</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><span class="label label-primary">Identity</span></td>
                        <td></td>
                        <td>User credentials will be authenticated against GEICO AD.</td>
                    </tr>
                    <tr>
                        <td><span class="label label-primary">Registration</span></td>
                        <td></td>
                        <td>Authenticated user can submit the request using the Registration link.</td>
                    </tr>
                    <tr>
                        <td><span class="label label-primary">Publishing Files</span></td>
                        <td></td>
                        <td>Registered users will be able to publish the files to production staging server.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Multiline Engineers Administrator</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Feature</th>
                        <th>&nbsp;</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><span class="label label-info">Approval</span></td>
                        <td></td>
                        <td>Administrator can approve/reject the user request.</td>
                    </tr>
                    <tr>
                        <td><span class="label label-info">Configuration</span></td>
                        <td></td>
                        <td>Can change the configuration. File types, Size of files etc.</td>
                    </tr>
                    <tr>
                        <td><span class="label label-info">Tracing</span></td>
                        <td></td>
                        <td>Will be able to track the files and its destination location.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Other Features ...</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Feature</th>
                        <th>&nbsp;</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td><span class="label label-success">Allowed File Types</span></td>
                        <td></td>
                        <td>.jpg</td>
                    </tr>
                    <tr>
                        <td><span class="label label-success">Maximum File size</span></td>
                        <td></td>
                        <td>1 MB</td>
                    </tr>
                    <tr>
                        <td><span class="label label-success">Reporting</span></td>
                        <td></td>
                        <td>Users and Administrators will be able to view the reports.</td>
                    </tr>
                    <tr>
                        <td><span class="label label-success">Contact us</span></td>
                        <td></td>
                        <td>Multiline Engineers</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>